{% extends 'form.html' %}
{% load static %}
{% block content %}
<!--
<form action="signin" method="POST">
    {% csrf_token %}
    <input type="text" name="email" placeholder="enter your email"><br>
    <input type="password" name="password" placeholder="enter your password">
    <hr>
    <input type="submit" name="Submit">
</form>
-->
<section class="vh-100 gradient-custom" style="background-color: #450E14;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <div class="mb-md-5 mt-md-4 pb-5">
  
                <h2 class="fw-bold mb-2 text-uppercase" style="color:#17A367">Login</h2>
                <p class="text-white-50 mb-5" style="color:#17A367">Please enter your login and password!</p>
                <form action="signin" method="post">
                    {% csrf_token %}
                    <div class="form-outline form-white mb-4">
                    <input type="text" id="typeEmailX" class="form-control form-control-lg" name="username" required/>
                    <label class="form-label" for="typeEmailX" style="color:#17A367">Username</label>
                    </div>
    
                    <div class="form-outline form-white mb-4">
                    <input type="password" id="typePasswordX" class="form-control form-control-lg" name="password" required/>
                    <label class="form-label" for="typePasswordX" style="color:#17A367">Password</label>
                    </div>
                    
                    {% for msg in messages %}
                    <span style='font-size:20px;'>&#10060;</span>{{msg}}
                    {% endfor %}
                    
                    <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!" style="color:#17A367">Forgot password?</a></p>
    
                    <input class="btn btn-outline-light btn-lg px-5" type="submit" style="color:#17A367" value="Login">
  
                </form>
  
              </div>

  
              <div>
                <p class="mb-0">Don't have an account? <a href="signup" class="text-white-50 fw-bold" style="color:#17A367">Sign Up</a></p>
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  {% endblock %}